body
{
  font-family:"san-serif";
}
.container
{
  padding:30px;
  border: 1px solid grey;
}
input{
  width: 40%;
  padding:8px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing:border-box;
  position:;
}
.btn2
{
  width:100%;
  background-color: #4CAF50;
  color: white;
  border: none;
}
 .btn1
{
   /* width: 20%; */
  margin: 3px 0;
  padding: 0px;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  opacity: 0.85;
  box-shadow:0 2px 2px -2px #000fFF;
  display: inline-block;
  color:#000;
  background-color: #fff;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none; /* remove underline from anchors */
} */
.btn1:hover
{
  background-color:#f1f1f1;
}
.fab:hover{
  font-size: 20px;
}
